<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GL ProCamp" >
    <listeners>
        <listener class-name="base.listners.ReportAllureListenerImpl"/>
        <!--<listener class-name="utils.Listeners.AnnotationTransformer"/>-->
    </listeners>

    <test name="RestAPI">
        <classes>
            <class name="tests.api.TestCreateContact"/>
            <class name="tests.api.TestDeleteContact"/>
            <class name="tests.api.TestHealthCheck"/>
            <class name="tests.api.TestUpdateContact"/>
        </classes>
    </test>
</suite>