<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteRest">
    <!--<listeners>-->
        <!--<listener class-name="base.listners.ReportAllureListenerImpl"/>-->
        <!--&lt;!&ndash;<listener class-name="utils.Listeners.AnnotationTransformer"/>&ndash;&gt;-->
    <!--</listeners>-->
    <test name="CheckRest">
        <groups>
            <run>
                <include name="rest-api" />
            </run>
        </groups>
        <packages>
            <package name="tests.api.*" />
        </packages>
    </test>

    <test name="CheckUI">
        <groups>
            <run>
                <include name="ui" />
            </run>
        </groups>
        <packages>
            <package name="tests.ui.*" />
        </packages>
    </test>

    <test name="ServiceCases">
        <groups>
            <run>
                <include name="service" />
            </run>
        </groups>
        <packages>
            <package name="tests.service.*" />
        </packages>
    </test>
</suite>